@import url(keyframes.css);

html,
body,
ul {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  user-select: none;
}

@font-face {
  font-family: "cinzelregular";
  src: url(fonts/cinzel-regular-webfont.woff2) format("woff2"),
    url(fonts/cinzel-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cinzelbold";
  src: url(fonts/cinzel-bold-webfont.woff2) format("woff2"),
    url(fonts/cinzel-bold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cinzel_decorativebold";
  src: url(fonts/cinzeldecorative-bold-webfont.woff2) format("woff2"),
    url(fonts/cinzeldecorative-bold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "edensor";
  src: url(fonts/edensor-free-webfont.woff2) format("woff2"),
    url(fonts/edensor-free-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url(fonts/roboto-light-webfont.woff2) format("woff2"),
    url(fonts/roboto-light-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: rgb(253, 245, 241);
}

#menu {
  transition: all ease 0.5s;
  justify-content: center;
  position: absolute;
  height: 57px;
  width: 100%;
  background: rgb(142,116,107);
  background: linear-gradient(90deg, rgba(142, 116, 107, 0.847) 0%, rgba(142,116,107,0.4066001400560224) 50%, rgba(98, 26, 26, 0.738) 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  z-index: 3;
}

#menu.llevarmenu {
  background: linear-gradient(90deg, rgba(98, 26, 26, 0.794) 0%, rgba(213, 205, 203, 0.83) 50%, rgba(98, 26, 26, 0.794) 100%);
  position: fixed;
}

#charruas-texto {
  left: 0;
  right: 0;
  top: -2px;
  margin-inline: auto;
  width: fit-content;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  position: absolute;
  color: #510707;
  text-shadow: 1px 1px 2px #000000;
  font-family: "cinzelbold";
  font-size: 55px;

}

#charruas-texto img {
  right: 46px;
  top: -2px;
  object-fit: cover;
  margin-inline: auto;
  filter: drop-shadow(1px 1px 1px #000000);
  opacity: 1;
  height: 60px;
  position: absolute;
}

#box1 {
  height: 56vw;
  width: 100%;
  margin-bottom: 5vw;
}

#box1-fondo {
  object-fit: cover;
  height: 56vw;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#texto1 {
  color: rgb(255, 255, 255);
  position: absolute;
  height: 15vw;
  width: 40vw;
  margin-top: 15vw;
  margin-left: 55vw;
  font-family: "cinzelregular";
  font-size: 5vw;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#texto1 p {
  font-family: "edensor";
  font-size: 2vw;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#texto2box {
  position: relative;
  text-align: center;
  width: 20vw;
  bottom: -2vw;
  left: -0.15vw;
  margin-inline: auto;
}

#texto2box p1 {
  color: rgb(82, 81, 81);
  font-family: "cinzel_decorativebold";
  font-size: 2vw;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#deco-bstext {
  top: 63vw;
  position: absolute;
  -webkit-user-drag: none;
  left: -0.68vw;
  right: 0;
  margin-inline: auto;
  height: 8vw;
  width: 28vw;
  opacity: 0.3;
  filter: saturate(1);
  object-fit: cover;
}

#boxbs {
  user-select: none;
  height: 41vw;
  width: 65vw;
  margin-inline: auto;
  margin-top: 0.5vw;
  justify-content: center;
}

#bsfondo {
  -webkit-user-drag: none;
  position: absolute;
  height: 50vw;
  width: 80vw;
  left: 8vw;
  object-fit: scale-down;
  z-index: 0;
}

#bsdetalle {
  -webkit-user-drag: none;
  opacity: 0.15;
  position: absolute;
  height: 50vw;
  width: 75vw;
  left: 11vw;
  object-fit: scale-down;
}

#bs1 {
  -webkit-user-drag: none;
  position: relative;
  height: 35vw;
  width: 12vw;
  margin-left: 14.89vw;
  display: inline-flex;
  object-fit: contain;
  transition: ease 0.3s;
  z-index: 1;
}

#bs2 {
  margin-left: -1vw;
  margin-right: -1vw;
  -webkit-user-drag: none;
  position: relative;
  height: 39vw;
  width: 13vw;
  top: 1vw;
  display: inline-flex;
  object-fit: contain;
  transition: ease 0.3s;
  z-index: 2;
}

#bs3 {
  -webkit-user-drag: none;
  position: relative;
  height: 35vw;
  width: 12vw;
  display: inline-flex;
  object-fit: contain;
  transition: ease 0.3s;
  z-index: 1;
}
#arr {
  position: relative;
  height: 41vw;
  width: 5vw;
  display: inline-flex;
  background-color: transparent;
}

.bs:hover {
  filter: brightness(120%);
  height: 36vw !important;
  transition: ease 0.4s;
  cursor: pointer;
}

#bs2:hover {
  filter: brightness(120%);
  height: 40vw !important;
  transition: ease 0.4s;
  cursor: pointer;
}

#bestsellers_info {
  height: 10vw;
  width: 65vw;
  margin: auto;
  margin-bottom: 9vw;
  margin-top: -1.4vw;
  position: relative;
  display: grid;
  grid-template-columns: 10vw 15vw 10vw;
  column-gap: 1vw;
  justify-content: center;
}

#bestsellers_info div {
  left: -0.1vw;
  font-family: cinzelregular;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bestsellers_info h4 {
  margin-inline: auto;
  width: 80%;
  font-size: 1.6vw;
  position: absolute;
  left: 0;
  right: 0;
}

#bestsellers_info #bs2-info {
  top: 1.5vw;
}
#bestsellers_info #bs2-name {
  font-size: 2vw;
}

#bestsellers_info h3 {
  font-family: cinzelbold;
  position: relative;
  font-size: 2vw;
  border-radius: 0.1vw;
  height: 2.3vw;
  width: 85%;
  top: 40%;
  cursor: pointer;
  color: rgb(10, 10, 10);
  background: rgb(152,2,2);
  background: linear-gradient(101deg, rgba(152,2,2,0.8267682072829132) 0%, rgba(110,5,5,0.7987570028011204) 62%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all ease 0.3s;
}
#bestsellers_info h3:hover {
  letter-spacing: 0.1vw;
  color: rgb(253, 245, 241);
  width: 90%;
}

#advertbox-i, #advertbox-d {
  border-radius: 0.1vw;
  position: absolute;
  overflow: hidden;
  margin-top: 6vw;
  height: 30vw;
  width: 12vw;
  padding-bottom: 1vw;
  z-index: 1;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
#advertbox-i {
  left: 1vw;
}
#advertbox-d {
  right: 1vw;
}

#advertbox-i a, #advertbox-d a {
width: 100%;
height: 100%;
}

#advertbox-i img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1.20);
  background-color: #000;
}

#advertbox-d img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.09);
  background-color: #000;
}

#carrito-title {
  margin-left: 1vw;
  font-size: 1.4vw;
  top: 3px;
  position: absolute;
  font-family: "Cinzel_decorativebold";
}

#totalcount {
  color: rgb(92, 33, 41);
  font-weight: bold;
  font-size: 25px;
  margin-top: 2vw;
}
#compraboton {
  width: 200px;
  margin-left: 18%;
  margin-top: 1vw;
  text-align: center;
  color: rgb(200, 186, 186);
  cursor: pointer;
  font-family: cinzelbold;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: transparent;
  font-size: 35px;
  background-color: rgb(51, 13, 18);
  transition: ease 0.3s;
}

#compraboton:hover {
  transition: ease 0.3s;
  background-color: rgb(200, 186, 186);
  color: rgb(51, 13, 18);
}

#carro-content {
  font-size: 1.05vw;
  margin-top: 3.5vw;
}

#vaciar {
  position: absolute;
  right: 15px;
  top: 18px;
  height: 32px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}

#gallery {
  height: 25vw;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(1, 25vw);
  grid-template-columns: repeat(4, 25%);
  overflow: hidden;
  margin-bottom: 5vw;
}

#gallery img {
  height: 100%;
  width: 100%;
  transform: scale(1.01);
  object-fit: fill;
  transition: ease-in-out 0.3s;
}

#gallery img:hover {
  cursor: pointer;
  filter: brightness(40%);
  transition: ease-in-out 0.3s;
}

#arrow {
  position: fixed;
  margin-top: -4px;
  top: -50px;
  right: 84px;
  z-index: 9;
  transition: all ease 0.5s;
  rotate: -90deg;
  font-size: 45px;
  opacity: 0.8;
  cursor: pointer;
}


#cart {
  padding-left: 7px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  position: fixed;
  right: 0;
  height: 100%;
  width: 300px;
  z-index: 5;
  transition: transform ease 0.5s;
  transform: translateX(307px);
}

#cart.toggled {
  transform: translateX(0px);
}

#cart-icon.toggled {
  transform: translateX(-290px);
}

#arrow.toggled {
  transform: translateY(-290px);
}

#cart-icon {
  position: fixed;
  right: 35px;
  margin-top: 9px;
  z-index: 4;
  transition: transform 0.5s;
  transform: translateX(0px);
  height: 35px !important;
  width: 35px !important;
  opacity: 0.8;
  cursor: pointer;
}

#cart-icon:hover,
#arrow:hover {
  opacity: 0.9;
}

.divisor {
  opacity: 0.3;
  margin: auto;
  height: 0.17vw;
  width: 95vw;
  border-radius: 4vw;
  background-color: rgb(149, 140, 140);
  margin-bottom: 3.2vw;
}

#sliderbox {
  overflow: hidden;
  margin: auto;
  height: 30vw;
  width: 85vw;
  margin-bottom: 0.7vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#slider {
  width: 340vw;
  height: 30vw;
  animation-name: animacion;
  animation-duration: 35s;
  animation-iteration-count: infinite;
}
#slider img {
  height: 30vw !important;
  width: 85vw !important;
  float: left;
  object-fit: cover;
}
#slidertext {
  margin-bottom: 3vw;
}
#slidertext::after {
  content: "";
  font-size: 1.2vw;
  font-family: robotolight;
  margin-left: 7.1vw;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  height: auto;
  width: 20vw;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  animation: animaciontexto 35s linear infinite;
}

#keywords {
  color: black;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-color: transparent;
  border-radius: 0.2vw;
  background-color: rgb(253, 245, 241);
  font-family: robotolight;
  outline: transparent;
  font-size: 1.5vw;
  margin-bottom: 6vw;
  margin-left: 24.44vw;
  height: 3vw;
  width: 50vw;
}
#search {
  color: black;
  background-color: rgb(253, 245, 241);
  position: absolute;
  border-radius: 0.2vw;
  outline: transparent;
  border-color: transparent;
  margin-left: -3vw;
  font-size: 1.8vw;
  height: 3.3vw;
  width: 3vw;
  cursor: pointer;
}
#search p2 {
  opacity: 0.35;
}
#search:hover p2 {
  opacity: 0.6;
  transition: ease-in 0.05s;
  font-size: 2vw;
}

::placeholder {
  color: rgb(156, 153, 153);
}

.gallery-wrapper {
  user-select: none;
  padding-top: 5vw;
  margin: auto;
  height: auto;
  width: 95vw;
  border-radius: 0.3vw;
  background-color: rgb(243, 235, 235);
  margin-bottom: -0.4vw;
}
.productos-gallery {
  height: 25vw;
  width: 100%;
  display: grid;
  justify-content: center;
  margin: auto;
  grid-template-columns: repeat(auto-fit, 15vw);
  column-gap: 0.4vw;
}

.productos-gallery div {
  text-align: center;
  border-radius: 5px;
  transition: all ease 0.3s;
  font-size: 1.2vw;
  font-family: robotolight;
  background-color: rgb(240, 232, 229);
  height: 17vw;
  width: 100%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  cursor: pointer;
}

.productos-gallery div:hover {
  background-color: rgb(246, 237, 234);
  box-shadow: rgba(17, 12, 46, 0.289) 0px 48px 100px 0px;
}

#productos-div img,
#productos-div-lowstock img {
  -webkit-user-drag: none;
  margin-inline: auto;
  display: block;
  object-fit: contain;
  height: 60%;
  width: 60%;
  margin-top: 2%;
  margin-bottom: 1%;
}

#productos-div p0, #productos-div-lowstock p0 {
  font-size: 1.44vw;
  letter-spacing: 1px;
  font-weight: 900;
  color: rgb(67, 66, 66);
}

#productos-div p1, #productos-div-lowstock p1 {
  position: relative;
  color: #00000055;
  font-weight: 900;
  bottom: 0.5vw;
  font-size: 0.85vw;
}

#productos-div p2, #productos-div-lowstock p2 {
  position: relative;
  font-size: 1.7vw;
  right: 0.55vw;
  bottom: 0.5vw;
  color: rgba(0, 0, 0, 0.913);
  font-weight: 900;
  font-family: robotolight;
}

#productos-div p3, #productos-div-lowstock p3 {
  color: rgb(29, 26, 26);
  letter-spacing: 1px;
  position: relative;
  bottom: 0.85vw;
  font-size: 0.9vw;
}

#productos-div-lowstock p3 {
  font-weight: bold;
  color: rgb(195, 24, 24);
}

#box3 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 17vw;
  width: 100%;
  background-color: rgb(99, 37, 44);
  position: relative;
}
.contactobox {
  margin: auto;
  height: 17vw;
  width: 60%;
}
.contactobox ul {
  color: rgb(51, 13, 18);
  padding-top: 4.5vw;
  margin-left: 35vw;
  width: 15vw;
  list-style-type: none;
  font-size: 1.2vw;
  font-family: robotolight;
  position: relative;
}

li {
  border-bottom: 2px solid rgb(51, 13, 18);
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.8vw;
  transition: all ease 0.3s;
}
li:hover {
  color: rgb(166, 115, 115);
  padding-left: 0.4vw;
  font-weight: 700;
}

#charruas-texto2 {
  color: rgb(75, 32, 32);
  margin-top: 11.5vw;
  position: absolute;
  text-align: center;
  font-size: 2vw;
  font-family: cinzelbold;
  width: 11vw;
  cursor: pointer;
  transition: all ease 0.3s;
}

.logo1 {
  -webkit-user-drag: none;
  margin-top: 3.7vw;
  opacity: 0.45;
  position: absolute;
  object-fit: scale-down;
  height: 8vw;
  width: 11vw;
  cursor: pointer;
}

.logo1:hover + #charruas-texto2 {
  color: rgb(166, 115, 115);
}

#charruas-texto2:hover {
  color: rgb(166, 115, 115);
}
#copyright {
  color: rgb(113, 87, 87);
  height: 1.7vw;
  width: 100%;
  background-color: rgb(67, 24, 29);
  position: relative;
  font-size: 1.2vw;
  font-family: robotolight;
  overflow: hidden;
}
#copy {
  margin-left: 1vw;
  animation: copyright-animation 20s linear infinite;
}

#newsesion {
  border-radius: 5px;
  border: 3px solid rgba(215, 202, 202, 0.045);
  background-color: rgba(84, 39, 39, 0.55);
  right: 90px;
  top: 10px;
  font-size: 20px;
  position: absolute;
  width: auto;
  text-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  text-align: center;
  font-family: "cinzelbold";
  cursor: pointer;
  transition: all 0.1s;
}

#newsesion:hover,
#adminref:hover {
  top: 9px;
  background-color: rgba(146, 121, 121, 0.343);
}

#gotologin #newsesion2 {
  display: none;
}

#gotoadmin #adminref2 {
  display: none;
}

#adminref {
  border-radius: 5px;
  border: 3px solid rgba(215, 202, 202, 0.045);
  background-color: rgba(84, 39, 39, 0.55);
  right: 290px;
  top: 10px;
  font-size: 20px;
  position: absolute;
  width: auto;
  text-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  text-align: center;
  font-family: "cinzelbold";
  cursor: pointer;
  transition: all 0.1s;
  z-index: 1;
}

#poldevolucion-desp,
#contacto-desp,
#fdepago-desp,
#polprivacidad-desp {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  justify-content: space-around;
  width: 50%;
  height: 0;
  position: fixed;
  top: 8vw;
  left: 0;
  right: 0;
  margin-inline: auto;
  z-index: 10;
  transition: all 0.6s cubic-bezier(0.68, 0.32, 0.34, 0.97);
  padding: 0 3% 0 3%;
  font-family: robotolight;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 5;
}
h4 {
  font-size: 1.3vw;
}
h4 p {
  cursor: pointer;
  position: absolute;
  font-size: 1.7vw;
  top: -1vw;
  right: 2%;
}
p {
  font-size: 1.9vh;
}
#poldevolucion-desp.open,
#contacto-desp.open,
#fdepago-desp.open,
#polprivacidad-desp.open {
  padding: 1% 3% 1% 3%;
  height: 50vh;
}

#polprivacidad-desp.open {
  padding: 1% 3% 1% 3%;
  height: 65vh;
}


#contactoimg {
  width: 100%;
  object-fit: scale-down;
}

#darken {
  display: none;
  background: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}


@media (max-width: 1150px) {
  #cart {
    transform: translateX(308px);
  }

  #newsesion {
    font-size: 26px;
    top: 12px;
    z-index: 12;
  }

  #adminref2 {
    right: 50px;
    z-index: 1;
  }
  #gotologin #newsesion2 {
    display: block;
    background-color: transparent;
    border: none;
    position: absolute;
  }

  #gotoadmin #adminref2 {
    display: block;
    background-color: transparent;
    border: none;
    position: absolute;
  }

  #gotoadmin #newsesion2 {
    display: block;
    background-color: transparent;
    border: none;
    position: absolute;
  }

  #adminref-r {
    object-fit: scale-down;
    height: 40px;
    border: 3px solid rgba(215, 202, 202, 0.045);
    border-radius: 33px;
    background-color: rgba(70, 20, 20, 0.854);
    top: 4px;
    position: absolute;
    width: auto;
    cursor: pointer;
    transition: all 0.1s;
    z-index: 1;
  }
  #adminref-r:hover {
    background-color: rgba(146, 121, 121, 0.343);
    border: 3px solid rgba(215, 202, 202, 0.134);
    height: 43px;
    top: 3px;
  }
  #newsesion-r {
    object-fit: scale-down;
    height: 40px;
    border: 3px solid rgba(215, 202, 202, 0.045);
    border-radius: 33px;
    background-color: rgba(70, 20, 20, 0.854);
    display: block;
    left: 10px;
    top: 4px;
    position: absolute;
    width: auto;
    cursor: pointer;
    transition: all 0.1s;
    z-index: 1;
  }

  #newsesion-r:hover {
    background-color: rgba(146, 121, 121, 0.343);
    border: 3px solid rgba(215, 202, 202, 0.134);
    height: 43px;
    top: 3px;
    left: 9px;
  }

  #adminref {
    display: none;
  }

  #newsesion {
    display: none;
  }
  .productos-gallery {
    justify-content: center;
    width: auto;
    display: grid;
    margin: auto;
    left: 0vw;
    position: relative;
    grid-template-columns: repeat(3, 23.57%);
    grid-template-rows: repeat(23.33vw);
    column-gap: 0.5vw;
    row-gap: 1vw;
    overflow: hidden;
  }

  .productos-gallery div {
    font-size: 1.2vw;
    font-family: robotolight;
    background-color: rgb(253, 245, 241);
    height: 23.33vw;
    width: 100%;
  }
  #carrito {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 20px;
    background-color: white;
  }

  #infocarrito {
    width: 100%;
    height: 100px;
    display: flex;
  }

  #vaciar {
    position: absolute;
    right: 20px;
    color: rgb(114, 40, 40);
    border: none;
    font-size: 50px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
  }

  #carro-content {
    font-size: 1.95vh;
  }

  #totalcount {
    font-weight: bold;
    font-size: 25px;
  }

  #box1 {
    height: 100vh;
    width: 100%;
    margin-bottom: 7vw;
  }

  #box1-fondo {
    overflow: hidden;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  #menu {
    z-index: 2;
  }

  #texto1 {
    color: rgb(255, 255, 255);
    position: absolute;
    height: 25vw;
    width: 70vw;
    margin-top: 35vh;
    margin-left: 27vw;
    font-family: "cinzelregular";
    font-size: 10vw;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  #texto1 p {
    margin-left: 7vw;
    font-family: "edensor";
    font-size: 4vw;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  #texto2box {
    margin: auto;
    height: 4vw;
    width: 20vw;
    text-align: center;
  }

  #texto2box p1 {
    color: rgb(82, 81, 81);
    position: relative;
    font-family: "cinzel_decorativebold";
    font-size: 2vw;
    width: 20vw;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  #deco-bstext {
    opacity: 0.3;
    filter: saturate(1);
    margin-left: -5.65vw;
    position: absolute;
    height: 8vw;
    width: 28vw;
    object-fit: cover;
  }

  #boxbs {
    height: 41vw;
    width: 65vw;
    margin: auto;
    margin-top: 0.5 vw;
  }

  #bsfondo {
    position: absolute;
    height: 50vw;
    width: 80vw;
    left: 8vw;
    object-fit: scale-down;
    z-index: 0;
  }

  #bsdetalle {
    opacity: 0.15;
    position: absolute;
    height: 50vw;
    width: 75vw;
    left: 11vw;
    object-fit: scale-down;
  }
}
