html,
body,
ul {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
}

@font-face {
  font-family: "cinzelregular";
  src: url(fonts/cinzel-regular-webfont.woff2) format("woff2"),
    url(fonts/cinzel-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cinzelbold";
  src: url(fonts/cinzel-bold-webfont.woff2) format("woff2"),
    url(fonts/cinzel-bold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cinzel_decorativebold";
  src: url(fonts/cinzeldecorative-bold-webfont.woff2) format("woff2"),
    url(fonts/cinzeldecorative-bold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "edensor";
  src: url(fonts/edensor-free-webfont.woff2) format("woff2"),
    url(fonts/edensor-free-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url(fonts/roboto-light-webfont.woff2) format("woff2"),
    url(fonts/roboto-light-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

#fondo {
  position: relative;
  height: 101vh;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

#menu {
  transition: all 0.5s;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#charruas-texto {
  left: 0;
  right: 0;
  top: 0;
  margin-inline: auto;
  text-align: center;
  position: absolute;
  width: fit-content;
  color: rgb(67, 13, 13);
  font-family: "cinzelbold";
  font-size: 27px;
  text-shadow: 3px 3px 3px rgba(150, 150, 150, 1);
}

#texto1 {
  left: 0;
  right: 0;
  margin-inline: auto;
  text-align: center;
  color: rgb(31, 31, 31);
  font-weight: bolder;
  position: absolute;
  top: 20px;
  font-family: "cinzelregular";
  font-size: 30px;
}

#text-prod {
  transition: all ease 0.3s;
  text-align: center;
  color: rgb(31, 31, 31);
  font-weight: bolder;
  position: absolute;
  font-family: "edensor";
  font-size: 30px;
  left: 110px;
  top: 110px;
  width: fit-content;
  cursor: pointer;
}

#text-prod span {
  width: 50px;
  display: inline;
  position: absolute;
  right: 230px;
  bottom: 0;
  transform: scaleX(-1);
}

#text-user span {
  width: 50px;
  display: inline;
  position: absolute;
  left: 181px;
  bottom: 0;
  display: inline;
}

#text-user {
  transition: all ease 0.3s;
  text-align: center;
  color: rgb(31, 31, 31);
  font-weight: bolder;
  position: absolute;
  font-family: "edensor";
  font-size: 30px;
  right: 110px;
  top: 110px;
  width: fit-content;
  cursor: pointer;
}

#grid-functions {
  transition: all ease 1s;
  position: absolute;
  display: grid;
  grid-template-columns: 50% 50% 50% 50%;
  top: 200px;
  left: 4vw;
  transform: translate(0px);
  right: 0;
  margin-inline: auto;
  height: fit-content;
  width: 90%;
  grid-column-gap: 1vw;
  padding: 15px;
}

#grid-functions.slide {
  transform: translate(-96vw);
}

.box {
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgba(255, 255, 255, 0.892);
  height: 475px;
  width: 44vw;
}

#addvino-box {
  position: relative;
}

#divisor {
  position: absolute;
  height: 100%;
  width: 75%;
}
h3 {
  margin-inline: auto;
  width: fit-content;
  position: relative;
  font-family: robotolight;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.743);
}

#message {
  display: none;
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 20px;
  height: 50px;
  width: 180px;
}

#vaciar {
  display: none;
  position: absolute;
  left: 30%;
  right: 0;
  bottom: 40px;
  height: 20px;
  margin-inline: auto;
  cursor: pointer;
  filter: brightness(1%);
  opacity: 0.3;
}

#addvino-form {
  margin-top: 54px;
}

#input_grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 35px;
}

#addvino-form input,
#addvino-form select {
  transition: all ease 0.2s;
  height: 30px;
  width: 12.5vw;
  font-size: 20px;
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid rgba(0, 0, 0, 0.173);
}

#addvino-form select,
#addvino-form input[type="file"] {
  margin-top: 5px;
  width: calc(12.5vw + 4px);
}

#addvino-form input[type="file"] {
  display: none;
}

#imagen_label {
  cursor: pointer;
  width: calc(12.5vw + 4px);
}

.input_label {
  margin-inline: auto;
  position: relative;
}
.input_texto,
#nombre_imagen {
  font-family: robotolight;
  font-size: 20px;
  pointer-events: none;
  position: absolute;
  color: rgb(139, 138, 138);
  top: 2px;
  transition: all ease 0.2s;
}

#nombre_imagen {
  padding-bottom: 3px;
  width: calc(12.5vw + 4px);
  border-bottom: 3px solid rgba(0, 0, 0, 0.173);
}

#preview {
  transition: all ease 0.2s;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20%;
  opacity: 0.56;
  right: 0;
  top: -5px;
  position: absolute;
  height: 35px;
  width: 35px;
  object-fit: scale-down;
}

#addvino-button {
  transition: all ease 0.1s;
  font-family: robotolight;
  font-size: 22px;
  font-weight: bold;
  color: rgba(46, 46, 46, 0.579);
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.173);
  border-left: 3px solid rgba(0, 0, 0, 0.173);
  background-color: rgba(203, 203, 203, 0.579);
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 40px;
  margin-inline: auto;
  width: 150px;
  height: 50px;
}

#addvino-button:hover {
  margin-top: 41px;
  right: 1px;
  border: none;
  color: black;
}

#addvino-form input[type="file"]:valid + #nombre_imagen {
  border-bottom: 3px solid rgba(0, 0, 0, 0.657);
  color: black;
}

#addvino-form input:focus + .input_texto,
#addvino-form input:valid + .input_texto,
#addvino-form select:focus + .input_texto,
#addvino-form select:valid + .input_texto {
  transform: translateY(-16px);
  color: black;
  font-size: 15px;
}

#addvino-form input:focus,
#addvino-form input:valid,
#addvino-form select:valid {
  border-bottom: 3px solid rgba(0, 0, 0, 0.657);
}

#vinos-list {
  display: grid;
  height: 100%;
  width: 25%;
  float: right;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  background-color: rgba(187, 187, 187, 0.708);
  overflow-x: hidden;
  overflow-y: scroll;
  direction: rtl;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#vinos-list span {
  direction: ltr;
  text-indent: 4px;
  width: 100%;
  height: 50px;
  display: block;
}

#vinos-list section {
  bottom: 10px;
  font-size: 1.2vw;
  font-family: edensor;
  overflow: hidden;
  position: relative;
  display: inline-flex;
  width: 58%;
  white-space: nowrap;
}

#vinos-list img {
  -webkit-user-drag: none;
  position: relative;
  object-fit: scale-down;
  top: 3px;
  height: 44px;
  width: 44px;
}

#vinos-list::-webkit-scrollbar {
  width: 5px;
}

#vinos-list::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.549);
  border-radius: 5px;
}

#vinos-list::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.161);
  border-radius: 5px;
}

.selected {
  background-color: rgba(177, 177, 177, 0.533);
}

#vinos-order {
  font-family: robotolight;
  font-size: 0.8vw;
  top: -15px;
  position: absolute;
  left: calc(100% - 4vw);
  width: 4vw;
  text-align: center;
}

#vinos-order input {
  accent-color: rgb(110, 110, 110);
  position: relative;
  top: 1.9vw;
  margin-inline: auto;
  display: block;
}

@media (max-width: 1183px) {
  #text-prod,
  #text-user {
    display: none;
  }
  h3 {
    font-size: 20px;
  }
  #grid-functions {
    height: 100%;
    overflow-y: scroll;
    left: 0;
    right: 0;
    margin-inline: auto;
    top: 80px;
    grid-template-columns: 100%;
    grid-template-rows: 650px 650px 650px 650px; /*repetir 650px por cada uno*/
  }

  #grid-functions div {
    border-radius: 50px;
    width: 100%;
    height: 520px;
  }

  #charruas-texto {
    left: 0;
    right: 0;
    margin-inline: auto;
    text-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    width: fit-content;
    font-family: "cinzelbold";
    font-size: 25px;
  }

  #texto1 {
    left: 0;
    right: 0;
    top: 20px;
    margin-inline: auto;
    font-weight: bolder;
    font-family: "cinzelregular";
    font-size: 27px;
  }
}
